
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="overlay" class="hideEle">
</div>
<div id="forgot-page" class="forgot-page showEle">
    <div class="form">
        <div class="forgot-form">
            <input type="text" id="forgot-userid" placeholder="user email" />
            <button id="forgotUserBtn">Request Reset</button>
            <div class="spacer"></div>
            <a href="Index.html">Back to Login ...</a>
            <div class="spacer"></div>
            <p class="error-message" id="forgot-error"></p>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet" />
<script src="~/PageJS/common.js" type="text/javascript"></script>
<script src="~/PageJS/forgotpassword.js" type="text/javascript"></script>

